/* new pages 08042015 */

/* home page */
.green .border {
	border:1px solid #8a9e00;
	background-color:#fff;
}

.green .border:first-child {
	margin-bottom:20px;
}

.portal-login {
	text-align: center;
}
.portal-login a.login {
	background-color: #e97400;
	border-color: #e97400;
	font-size: 14px;
	display: inline-block;
	float: none;
	height: 41px;
	line-height: 39px;
	padding: 0 24px;
	vertical-align: top;
	color: #FFF !important;
	margin-right:10px;		
	
}
.portal-login a.login:hover, .portal-login a.login:focus {
	background: #EF7F15;
	text-decoration: none !important;
	border-bottom: 0px !important;
}

.portal-login em.note {
	color: gray;
	font-size: 14px;
	font-style: normal;	
	text-align: center;
	display: inline-block;
	margin-top: 15px;
}


em.note {
	color: gray;
	font-size: 14px;
	font-style: normal;	
	text-align: center;
	display: block;
	margin-top: 15px;
}




.section-network {
	position:relative;
	margin-bottom:30px;
}

#grey-overlay {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:#b2b2b2;
	opacity:.15;
	
}

.main-heading h1 {
  color: #505050;
  font: 300 54px/62px "myriad-pro", Arial, sans-serif;
  margin: 20px 0 23px;
  text-align: center;
  text-transform: none;
}



.column-noborder.green h2 {
	margin-top:10px;
	font-size: 38px;
    line-height: 42px;
	text-align:center;
}

.column-noborder.green .holder {
	padding: 0px 17px 13px;
}

.column-noborder.green {
	position:relative;
}

.green.bottommod {
	min-height:190px;
}

.column-noborder.green .readmore-network {
	position:absolute;
	bottom:35px;
}

.readmore-only,
.readmore-network {
	color: #505050;
	font-weight: bold;
}


.section-gallery .wooslider .slides > li {
  padding: 0;
}

.section-gallery .wooslider .slides .slide-excerpt {
  background: rgba(35, 31, 32, 0.65);
  bottom: 0;
  padding: 10px 30px 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  width: 271px !important;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}


.section-gallery .wooslider .slides .slide-excerpt h2 {
	color:#fff;
  	font: 38px/42px "proxima-nova-extra-condensed", sans-serif;	
}

.section-gallery .wooslider .slides .slide-excerpt p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  white-space: normal;
  color:#fff;
  font-size:20px;
  font-family: "myriad-pro", Arial, sans-serif;
  line-height:28px;
  font-weight:400;
}


.section-gallery .wooslider-prev,
.section-gallery .flex-prev
 {
  color: #fff;
  height: auto;
  left: 20px !important;
  margin: -11px 0 0;
  overflow: hidden;
  position: absolute;
  text-align: left !important;
  text-indent: -9999px;
  top: 50%;
  width: 22px;
  z-index: 5;
}

.section-gallery .wooslider-next,
.section-gallery .flex-next {
  color: #fff;
  height: auto;
  right: 20px !important;
  margin: -11px 0 0;
  overflow: hidden;
  position: absolute;
  text-align: left !important;
  text-indent: -9999px;
  top: 50%;
  width: 22px;
  z-index: 5555;
}

.flexslider .flex-direction-nav a,
.flexslider .flex-direction-nav a {
display: block; /* I added this line */
}

html body .flex-direction-nav .flex-next { right: 0 !important; margin-right: -40px; opacity: 1 !important; }
html body .flex-direction-nav .flex-prev { left: 0 !important; opacity: 1 !important; margin-left: -40px; }

.slider-right .heading {
	padding:20px;
	text-align:left;
	background-color:#e9eaea;
	border:0px;
}

.slider-right .holder {
	padding:0 20px 20px 20px;
	font-size:23px;
	line-height:30px;
	font-weight:400;
}

.section-gallery {
	background:none;
	margin-top:30px;
}


.email_subscribe {
	background-color:#005ba9;
}

.email_subscribe h3 {
	color:#fff;
}

.email_subscribe a {
 	background-color: #fff;
    border-color: #fff;
    color: #005ba9 !important;
    display: inline-block;
    float: none;
    font-size: 14px;
    height: 41px;
    line-height: 39px;
    margin-right: 10px;
    padding: 0 24px;
    vertical-align: top;
}

.email_subscribe a:hover {
	text-decoration:none;
	border-bottom:0px solid #fff !important;
}


/* widget slider  */


.widget_wooslider_slideshow_slides .wooslider-control-paging li:before,
.widget_wooslider_slideshow_slides ul.slides li:before 
{
	content:'';	
}

.widget_wooslider_slideshow_slides .wooslider-control-paging.wooslider-control-nav {
	position:absolute;
	top:143px;
}

.widget_wooslider_slideshow_slides li .slide-excerpt {
	margin-top:50px;
}

.widget_wooslider_slideshow_slides .wooslider {
	box-shadow:none;
	
}

.widget_wooslider_slideshow_slides .wooslider .slide-content {
	margin:0;
}


.widget_wooslider_slideshow_slides .wooslider-control-paging li a.wooslider-active {
    background: none repeat scroll 0 0 #e97400;
}

.widget_wooslider_slideshow_slides .wooslider-control-paging li a {
    background: none repeat scroll 0 0 #b2b2b2;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px;
}

.tweet_date {
	color:#005ba9;
	font-weight:bold;
}


.widget-annoucements ul li.last-child:before,
.widget-upcoming-events ul li.last-child:before {
	content:'';
}

.widget-annoucements ul li.last-child a.link-more ,
.widget-upcoming-events ul li.last-child a.link-more{
	color:#e97400;
}


.workbench .heading {
	border-color:#205975;
	margin-top:30px;
}

.workbench .heading h2 {
	color:#205975;
}

.workbench {
	margin-bottom:30px;
}

.slider-right-overlay {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:#f0f0f0;
	opacity:.3;
	z-index:-1;
}

.slider-right {
	position:relative;
}

.slider-right h2 {
	color:#205975;
}

html body .widget_text .search-box form.form-search {
	border:0px solid #fff;
}


@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {


	.section-gallery .wooslider .slides .slide-excerpt {
		position:relative;
	}

	.container .wooslider .layout-text-right .slide-excerpt {
		width:100% !important;
	}
	
	.section-network .readmore {
	    bottom: 15px !important;
	    position: absolute;
	    font-weight:bold;
	}
	
	.decision-support .readmore,
	.prototype .readmore
	 {
	    bottom: 15px !important;
	    position: absolute;
	    font-weight:bold;
	}	
	
	
}


.widget_text .search-box {
    bottom: 33px;
    position: absolute;
    right: 2px;
}


/*
*
*
*
*
*/

/* 2 new subpages */

.top-row {
	margin-bottom:30px;
}


.section-network .readmore {
    bottom: 33px;
    position: absolute;
    font-weight:bold;
}

.decision-support .readmore,
.prototype .readmore
 {
    bottom: 15px;
    position: absolute;
    font-weight:bold;
}
.section-network .column a.readmore:hover {
	border:0 solid #fff;
	text-decoration:underline;
}


.prototype .section-network .heading h2,
.decision-support .section-network .heading h2
{
	text-transform:none;
}


.prototype .sh-holder .col-md-4 {
margin-bottom:40px;
}

.prototype .section-network .column.pale-blue .heading,
.prototype .section-network .column.blue .heading,
.decision-support .section-network .column.pale-blue .heading,
.decision-support .section-network .column.blue .heading
{
	background-position:0 0;
}

.prototype .section-network .column p,
.decision-support .section-network .column p {
	margin-top:10px;
}

.prototype .section-network .column img,
.decision-support .section-network .column img {
	min-width:100%;
}


.row.sh-holder.bottom-row {
    padding-left: 0;
}



.prototype #content,
.decision-support #content {
	padding-bottom:40px;
}

.prototype #content >p,
.decision-support #content >p {
	font-weight:400;
}


@media only screen and (min-width: 992px) {
	.row.sh-holder.bottom-row {
	    padding-left: 100px;
	}
	.row.sh-holder.bottom-row .col-md-12 {
		padding-left:0;
		padding-right:0;
	}
	
	
}