table .download-button {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

ul li {
  list-style: none outside;
  overflow: hidden;
  vertical-align: top;
}

.download-button:before {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}

body {
  margin: 0;
}

.same-height {
  height: auto !important;
}

.social-networks {
  display: none;
}

.form-search {
  display: none;
}

.nav-holder {
  display: none;
}

.section-information {
  display: none;
}

.section-gallery {
  display: none;
}

form {
  display: none;
}

.media-holder {
  display: none;
}

#footer {
  border-top: 1px solid #000;
  margin: 30px 0 0;
}
#footer .logo {
  display: none;
}
#footer .footer-nav {
  display: none;
}

ul {
  margin: 0;
  padding: 1px 0 0;
}
ul li {
  padding: 0 0 8px 10px;
  position: relative;
}
ul li:before {
  content: '\00bb';
  left: 0;
  position: absolute;
  top: 0;
}
ul li.last-child {
  display: none;
}
ul.large {
  margin: -6px 0 0;
  padding: 0;
  font-size: 22px;
  line-height: 35px;
}
ul.large li {
  padding-left: 13px;
}
ul.style2 li {
  padding-left: 8px;
}
ul.style2 li:before {
  background: #231f20;
  content: '';
  height: 4px;
  top: 11px;
  width: 4px;
}
ul.style2 .last-child:before {
  background-color: #005ba9;
}
ul.style2.large li {
  padding-left: 13px;
}
ul.style2.large li:before {
  height: 8px;
  top: 15px;
  width: 8px;
}
ul.no-bullets li {
  padding-left: 0;
}
ul.no-bullets li:before {
  display: none;
}

table {
  font-weight: 700;
  line-height: 22px;
  min-width: 610px;
  table-layout: fixed;
  width: 100%;
}
table th,
table td {
  border: 0;
  padding: 18px 10px 15px 1px;
  vertical-align: top;
}
table th {
  border: solid #000;
  border-width: 1px 0;
  color: #000;
  font: 700 18px/20px "proxima-nova-extra-condensed", sans-serif;
  text-align: left;
  text-transform: uppercase;
}
table td {
  border-bottom: 8px solid #e7e9eb;
  padding: 25px 10px 16px 1px;
}
table a {
  color: #505050;
}
table .download-button {
  display: inline-block;
  font: 700 15px/15px "proxima-nova-extra-condensed", sans-serif;
  margin: 5px 0 0;
  max-width: 120px;
  min-height: 42px;
  padding: 3px 0 0 46px;
  position: relative;
  text-transform: uppercase;
  vertical-align: top;
  color: #0f569f;
}
table .download-button:hover, table .download-button:active, table .download-button:focus {
  color: #0f569f;
  border-bottom: 1px solid #0f569f;
  text-decoration: none;
}
table .download-button:before {
  background-position: -100px -80px;
  content: '';
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}
table .download-button:hover {
  border: 0;
  opacity: 0.7;
}
table .download-button.pdf:before {
  background-position: -140px -80px;
}

.breadcrumb {
  display: none;
}

.edit-link {
  display: none;
}

.comment-reply-link {
  display: none;
}
